<!DOCTYPE html>
<html>

<head> 
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assessment</title>
</head>


<body>
  <h1 id="heading">Datepicker Form</h1>
  
  <p><strong>Pick the date you'd like to see the results for.</strong></p>

  <form id="date-form" action="#" method="post">
    <label for="Date"><strong></strong>Date: </strong></label>
    <input type="date" id="datebar" name="datepicker" min='2019-08-01' max='2019-09-29'>
    <input type="submit" id="submit-button" value="Submit">
  </form>

  <h3>{{ warning }}</h3>
  
</body>
</html>

